body{
    background-color: rgb(255, 255, 255);
}

.container{
    display: block;
    justify-content: center;
    margin: 10px;
}

.card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.info-pokemon{
    background-color: rgb(235, 225, 225);
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}

.name-pokemon{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.id-pokemon{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.tags{
    margin: 5px;
}

.type-pokemon{
    margin: 2px;
    padding: 2px;
    color: white;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
}

.image-pokemon{
    display: flex;
    width: 70%;
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}

.image-pokemon > img{
    width: 150px;
    height: 150px;
}

@media (max-width : 400px){
    .info-pokemon{
        font-size: 15px;
    }
    .id-pokemon{
        font-size: 10px;
    }
}